<mat-card>
  <mat-card-header>
    <mat-card-title>Information on medicine prescription and use</mat-card-title>
  </mat-card-header>
  <ng-container *ngIf="data$ | async as data">
    <mat-card-content>
      <mat-form-field class="row">
        <mat-select placeholder="Medicine code"
                    [compareWith]="compareById"
                    [(ngModel)]="data.medicine">
          <mat-option *ngFor="let medicine of availableMedicine$|async"
            [value]="medicine">{{ medicine.code }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field  class="row">
        <input matInput
               #validationSince="ngModel"
               [matDatepicker]="sincepicker"
               placeholder="First day of use (including this day)"
               [max]=data.until
               [(ngModel)]="data.since" />
        <mat-datepicker-toggle matSuffix [for]="sincepicker"></mat-datepicker-toggle>
        <mat-datepicker #sincepicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field  class="row">
        <input matInput
               #validationUntil="ngModel"
               [matDatepicker]="untilpicker"
               placeholder="Last day of use (including this day)"
               [min]=data.since
               [(ngModel)]="data.until" />
        <mat-datepicker-toggle matSuffix [for]="untilpicker"></mat-datepicker-toggle>
        <mat-datepicker #untilpicker></mat-datepicker>
      </mat-form-field>
      <span class="row">
        <label class="slider-label">Number of doses per day</label>
        <mat-slider
          min="1" max="12" step="1" thumbLabel="true"
          [(ngModel)]="data.takeTimesPerDay">
        </mat-slider>
        <span>{{ data.takeTimesPerDay }}</span>
      </span>
      <span class="row">
        <label class="slider-label">Quantity per dose{{ data.medicine ? " (" + data.medicine.dosageForm + ")" : ""}}</label>
        <mat-slider
          min="1" max="10" step="1" thumbLabel="true"
          [(ngModel)]="data.takeAmount">
        </mat-slider>
        <span>{{ data.takeAmount }}</span>
      </span>
      <span class="row"
            *ngIf="!(validationSince.valid && validationUntil.valid && data.medicine)">
        <span class="error">The data is not valid.</span>
      </span>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button
        (click)="onUpsertEntry(validationSince.valid && validationUntil.valid && data.medicine, data)">Save</button>
      <button mat-button [routerLink]="['/prescription-list']">Cancel</button>
    </mat-card-actions>
  </ng-container>
</mat-card>
